[role=button], button, input[type=button], input[type=reset], input[type=submit] {
    border: none;
    background-color: transparent;
}
[role=button]:focus, button:focus, input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus {
    box-shadow: none;
}

[role=button], button, input[type=button], input[type=reset], input[type=submit] {
    padding: 0;
}